@import "./responsive.scss";

.layout {
   background-color: purple;
   height: 100vh;
   max-width: 1360px;
   margin: 0 auto;
   padding: 0 1rem;

   @include large {
      background-color: yellow;
   }

   @include medium {
      background-color: green;
   }

   @include small {
      background-color: red;
   }
}
